 
<div class="number-slide">
  <div class="number-slide-header">
    <span class="number-slide-index">{{@index}}:</span>
    {{#if @isDynamic}}
      <span class="dynamic-indicator">Dynamic</span>
    {{/if}}
  </div>
  <div class="number-slide-description">
    {{@text}}
  </div>
  
</div>
