<section class="search-section">
  <h2>SEARCH MOVIES</h2>
  <div class="input-container">
    <input
      type="text"
      id="search"
      class="search-input"
      placeholder="Type to search movies..."
      {{on "input" @updateSearch}}
      {{did-insert @focusInput}}
    />
  </div>
</section>